

.loupe:hover
{
    text-align: justify;
    border : 2px black solid;
    border-radius: 6px;
    box-shadow: 3px 3px 0px grey;
}


.conteneur1
{
    width: 100%;
    height: 40px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items : center;
}

.Connexion
{
    background-color: rgb(70, 132, 237);
    color: white;
        height: 25px;
        width : 80px;
        display: flex;    
        flex-direction: row;
        align-items : center;
        justify-content: center;
        justify-items: flex-end;
        border-radius: 2px
        
        
}

.Items
{
    padding-left: 12px
}


.Google
{
    display: flex;
    justify-content: center;
    align-items :center ;
    align-content: center;
    height: 160px;
    width: 100%;
       
}
.conteneurGoogle
{
    width: 100%;
    height: 500px;
    
    
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items :center;
       
}


.loupe
{
    width: 50%;
    height: 50px;
    border : 1px grey solid;
    border-radius: 30px;
        background-color:white ;  
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px   ;    
        margin-bottom: 15px;  


        
}

.Sous_Barre
{
    Width : 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
     align-content: center;
     align-items: center;
     justify-items: space-around;
     
     
}

.Rechercher
{
    height: 40px;
        display: flex;  
    flex-grow: 1;  
    background-color:rgb(242, 242, 242);
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;

}

.Chance
{
    height: 40px;
        display: flex;  
    flex-grow: 1;  
    background-color:rgb(242, 242, 242);
    border: 1px none none;
    border-radius: 4px;
    margin-left: 20px;
    text-align: center;

}


.France
{
    width: 100%;
    Height: 40px;
    border-top: 1px black solid;
    background-color:rgb(242, 242, 242);
    color: grey solid
    
}

.bas
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

footer
{
    width: 100%;
    Height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    border-bottom : 1px black solid;
    border-top: 1px black solid;
    background-color:rgb(242, 242, 242);
    color: grey solid
}



.Gauche
{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    
}

.Droite
{
    display: flex;
    flex-direction: row;  
    justify-content: flex-end; 
}

.TextebasGauche
{
       
    padding-right: 15px;  
}

.TextebasDroite
{
   
    padding-left: 15px  ;
}
